@page "/"

<h1>Welcome to the Gym Management System</h1>

<p>build by Aashish Arun and Anderson Neves</p>

<p>With the  help of our professor Mehdi Shokrani</p>

<!--
Anderson Neves & Aashish Arun
April 25, 2025

Gym Management System

This program is a gym management system designed to simplify gym operations.
Users can manage appointments, customers, trainers, and staff through a .NET MAUI GUI.
For inputs, there is User-provided data via forms (e.g., customer details, appointment times).
For processing, the system interacts with a MySQL database to perform operations.
Finally, for outputs, it displays stored data in tables, updates UI based on database queries, and ensures error handling.
-->